# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

src/theme/add-category.html
src/theme/analytics.html
src/theme/cake.jpg
src/theme/categories.html
src/theme/history.html
src/theme/login.html
src/theme/order-position.html
src/theme/order.html
src/theme/overview.html
src/theme/registration.html
src/theme/scripts/materialize.min.js
src/theme/scripts/scripts.js
src/theme/styles.min.css
src/theme/styles/materialize.min.css
src/theme/styles/styles.min.css
