<div class="row">
  <div class="col s12">
      <div class="page-subtitle">
          <h4>Позиції:</h4>
          <button 
             class="waves-effect waves-light btn grey darken-1 btn-small" 
             (click)="onAddPosition()" 
             >
              Додати позицію
          </button>
      </div>
  <div *ngIf="!loading; else loader">
      <div class="collection" *ngIf="positions.length !== 0; else empty">
          <a
            *ngFor="let position of positions" 
            class="collection-item collection-item-icon"
            (click)="onSelectPosition(position)"
          >
              <span>
                  {{position.name}} <strong>{{position.cost}} грн.</strong>
              </span>
              <span>
                  <i class="material-icons" (click)="onDeletePosition($event, position)">delete</i>
              </span>
          </a>
      </div>
      <ng-template #empty>
          <div class="center">В цій категорії ще немає позицій</div>
      </ng-template>
    </div>
    <ng-template #loader>
        <app-loader></app-loader>        
    </ng-template>
  </div>
</div>


<form [formGroup]="form" (ngSubmit)="onSubmit()">
<div class="modal" #modal>
  <div class="modal-content">
      <h4 class="mb1">Додати позицію</h4>
      <div class="input-field">
          <input 
            formControlName="name"         
            id="pos-name" 
            type="text"
            [ngClass]="{'invalid': form.get('name').invalid && form.get('name').touched}"
          >
          <label for="pos-name">Назва</label>
        <span 
          class="helper-text red-text"
          *ngIf="form.get('name').invalid && form.get('name').touched"  
        >
            Поле назви не повинно бути пустим.
        </span>
      </div>
      <div class="input-field">
          <input
          formControlName="cost" 
          id="pos-cost" 
          type="number"
          min="25"
          [ngClass]="{'invalid': form.get('cost').invalid && form.get('cost').touched}" 
          >
          <label for="pos-cost">Ціна</label>
          <span 
          class="helper-text red-text"
          *ngIf="form.get('cost').invalid && form.get('cost').touched"  
        >
            Введіть правильну ціну. Мінімальне значення 25.
        </span>
      </div>
  </div>
  <div class="modal-footer">
      <button 
        type="button" 
        (click)="onCancel()" 
        class="modal-action waves-effect waves-black btn-flat"
        [disabled]="form.disabled"
      >
        Скасувати
      </button>
      <button 
        class="modal-action btn waves-effect" 
        type="submit"
        [disabled]="form.invalid || form.disabled"
      >
        Зберегти
      </button>
  </div>
</div>
</form>